.Perfil{
    /* background-color: blue; */
    display: inline-block;
    width: 312px;
    height: 525px;
}
.Name h1{
    /* background-color: aqua; */
    font-size: 35px;
    color: white;
    text-align: center;
    margin: 0px;
    width: 312px;
    height: 106px;
}
.ImagenName{
    display: flex;
    justify-content: center;
}
.ImagenName img{
    border-radius: 50%;
    width: 183px;
    height: 184px;
}
.DatosPerf h3{
    /* background-color: aquamarine; */
    font-size: 17px;
    margin: 4px 0px 1px 0px;
    color: white;
    width: 189px;
    height: 26px;
}
.DatosPerf p{
    /* background-color: blueviolet; */
    margin: 0px;
    color: white;
    width: 266px;
    height: 108px;
    font-size: 12px;
}
.DatosPerf hr{
    width: 266px;
    margin: 10px 0px 0px 0px;
}
.Contactos h3{
    color: white;
    font-size: 17px;
    width: 73px;
    height: 26px;
    margin: 5px 0px 0px 0px;
}
.Contactos p{
    color: white;
    margin: 0px;
    font-size: 12px;
    width: 136px;
    height: 36px;

}
.FotoNameIng hr{
    width: 266px;
    margin: 5px 0px 0px 0px;
}

.FotoNameIng{
    width: 312px;
    height: 299.5px;
}
.DatosPerf{
    width: 266px;
    height: 148px;
}

